body {
  font-family: -apple-system,BlinkMacSystemFont,Arial,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #212529;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: st;
  gap: 0px;
}

@media (max-width: 768px) {
  h1 {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
  }
}

@media (min-width: 992px) {
  h1 {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

img {
  flex: none;
  order: 0;
  flex-grow: 0;
}

